@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

    :root {
      --main-font: "Roboto", sans-serif;
      --second-font: "Open Snas", sans-serif;
      --spacing: 0.25rem;
      --radius: 0.5rem;
      --main-background-color: #121212;
      --primary-font-color: #ffd731;
      --second-font-color: #121212;
      --second-background-color: #d8deda;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: var(--second-font);
      background-color: var(--main-background-color);
      color: var(--primary-font-color);
      line-height: 1.5;
      font-size: 0.875rem;
    }

    header {
      display: flex;
      background-color: var(--second-background-color);
      color: var(--second-font-color);
      justify-content: space-between;
    }

    .logo {
      width: 150px;
      align-self: flex-start;
      margin: 10px;
    }

    .cabecera-menu {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
    }

    navbar>a {
      margin: 0px 30px 0px 0px;
      text-decoration: none;
      transition: 0.6s ease;
      color: var(--second-font-color);
    }

    navbar>a:hover {
      transition: 0.5s;
      background-color: var(--main-background-color);
      border-radius: 5px;
      border-color: var(--primary-font-color) solid thin;
      padding: 5px;
      color: #fff;
    }

    .welcome {
      text-align: center;
      margin: 20px 0px 0px 0px;
    }

    .profile-image {
      margin: auto;
      width: 550px;
      height: auto;
      border: 5px solid thin var(--primary-font-color);
    }

    .container {
      margin: 100px 0 0 200px;
      width: 70%;
      height: 450px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .container img {
      width: 10%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0.684);
      transition: all ease-in-out 0.5s;
    }

    .container img:hover {
      width: 50%;

    }

    .main-content {
      width: 500px;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      justify-content: center;
      align-self: center;
      justify-self: center;
      padding: 20px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 10px;
      background-color: var(--second-background-color);
    }

    h1,
    h2 {
      letter-spacing: var(--spacing);
      text-transform: capitalize;
      line-height: 1.25;
      margin-bottom: 0.75rem;
      font-family: var(--main-font);
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
      color: var(--second-font-color);
    }

    .title {
      text-align: center;
      margin-bottom: 2rem;
    }

    .underline {
      width: 5rem;
      height: 0.25rem;
      background: var(--primary-font-color);
      margin-left: auto;
      margin-right: auto;
    }

    form {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      color: var(--second-font-color);
    }

    select,
    button {
      margin: 10px;
      padding: 10px;
      font-size: 1.2rem;
      border: 1px solid var(--second-font-color);
    }

    button {
      background: var(--main-background-color);
      border-color: var(--primary-font-color);
      font-size: 1rem;
      text-transform: capitalize;
      margin: 0 0.5rem;
      letter-spacing: 1px;
      border-radius: var(--radius);
      color: var(--primary-font-color);
      cursor: pointer;
      transition: 0.5s ease;
    }

    button:hover {
      background-color: var(--primary-font-color);
      color: #fff;
    }