:root {
  --main-font: sans-serif;
  --main-background-color: #121212;
  --primary-font-color: #ffd731;
  --second-font-color: #121212;
  --second-background-color: #d8deda;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-font-color);
}

.logo {
  width: 240px;
  display: block;
  margin: auto;
  padding: 80px 0px 0px 0px;
}

h2 {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  font-size: 30px;
  margin: 20px 0px 20px 0px;
}

.container {
  align-self: center;
  margin: 20px 0px 20px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--second-background-color);
  color: var(--second-font-color);
}

form {
  display: flex;
  flex-flow: column wrap;
}

form > label,
input {
  width: 100%;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

input {
  color: var(--second-font-color);
  border-color: transparent;
  border-bottom: var(--second-font-color) solid thin;
}

a {
  text-decoration: none;
  color: var(--second-font-color);
}

.toLogin > a:hover {
  color: #fff;
}

.mes {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  padding: 10px;
}

.toLogin {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  margin: auto;
  background-color: transparent;
  border: transparent;
  border-bottom: var(--main-background-color) solid thin;
  border-top: var(--main-background-color) solid thin;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s ease;
}

.toLogin:hover {
  transition: 0.5s;
  background-color: var(--main-background-color);
  border-radius: 5px;
  border-color: var(--primary-font-color) solid thin;
  padding: 5px;
  color: #fff;
}
